body, html, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

.phrase-card-front{
  background-color: white;
}

.acronym-card {
  background-color: white;
}

.del-btn {
  border: none;
  font-size: 15px;
}

.del-btn:hover {
  color: red;
  transition-duration: 0.5s;
}

.login-container {
  text-align: center;
}

.profile-container {
  text-align: center;
}

.list-of-slangs {
  text-align: center;
  list-style: none;
  font-size: 1.1em;
  font-weight: 300;
}

.start-game {
  text-align: center;
  margin-top: 3em;
}

.result-page {
  margin-top: 15em;
  text-align: center;
}

.result-score {
  color: red;
}

.start-btn {
  text-align: center;
  padding: 20px 20px;
  border-radius: 1em;
  font-size: 20px;
  font-weight: 700;
  border: solid;
}

.start-btn:hover {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}

.rules {
  margin-left: 30em;
  margin-right: 30em;
}

.text {
  text-align: center;
  margin-top: 3.4em;
}

.hint, .flip-back {
  position: absolute;
  bottom: 0;
  right: 0;
}

.acr-text {
  text-align: center;
  font-size: 0.9em;
  margin: 20% 5% 3% 5%;
}

#slang-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  transform: scale(0.9);
}

#slang-showcase {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-right: 300px;
}

.card {
  width: 150px;
  height: 150px;
  margin: 12.5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: scale(1.05)
}

.phrase-card-front, .phrase-card-back, .acronym-card {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
}

.phrase-card-front, .acronym-card{
  filter: grayscale(0%);
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
}

.phrase-card-front:hover {
  filter: grayscale(0%);
}

.phrase-card-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.zero {
  width: 148px;
  height: 33px;
}

/* Timer */

.timer-container {
  position: relative;
  margin-top: -3%;
  width: 100%;
}

.timer-group {
  transform: scale(0.4);
  height: 180px;
  margin: auto;
  position: relative;
  width: 400px;
  color: #fff;
  box-sizing: border-box;
}

.timer {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.timer:after {
  background: #111 url(https://codepen.io/images/classy_fabric.png);
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 10px;
  position: absolute;
  width: 80px;
}

.timer .hand {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.timer .hand span {
  border: 50px solid rgba(0, 255, 255, .4);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(225deg);
  width: 0;
}

.timer .hand:first-child {
  transform: rotate(180deg);
}

.timer .hand span {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer .hand:first-child span {
  animation-name: spin1;
}

.timer .hand:last-child span {
  animation-name: spin2; 
}

.timer.minute {
  background: rgba(0, 0, 0, .2);
  height: 350px;
  left: 25px;
  width: 350px;
  top: 25px;
}

.timer.minute .hand span {
  animation-duration: 60s;
  border-top-color: rgba(0, 255, 255, .4);
  border-right-color: rgba(0, 255, 255, .4);
  border-width: 175px;
}

.timer.minute:after {
  height: 310px;
  left: 20px;
  width: 310px;
  top: 20px;
}

.timer.second {
  background: rgba(0, 0, 0, .2);
  height: 300px;
  left: 50px;
  width: 300px;
  top: 50px;
}

.face {
  border-radius: 50%;
  height: 296px;
  left: 52px;
  padding: 165px 40px 0;
  position: absolute;
  width: 296px;
  text-align: center;
  top: 25px;
}

.face h2 {
  margin-right: 75px;
  font-weight: 400; 
  font-size: 30px;
}

.face p {
  border-radius: 20px;
  font-size: 76px;
  font-weight: 700;
  position: absolute;
  top: 17px;
  width: 260px;
  left: 20px;
}

@keyframes spin1 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* Navigation Bar */

.App {
  width: 100%;
  height: 100%;
}

ul {
  padding-top: 9px;
  margin: 0;
  list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  height: 3em;
  padding-bottom: 25px;
}

.navbar a {
  margin-right: 30px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.navbar a:hover {
  background-color: black;
  border-radius: 20px;
  transition-duration: 0.7s;
}

.navbar a.active {
  color: white;
}

.navbar-right {
  float: right;
}