body, html, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 85%;
  user-select: none;
}

.start-btn {
  padding: 20px 20px;
  border-radius: 1em;
}

.text {
  text-align: center;
}

.hint {
  text-align: center;
  margin: 20px 50px;
}

.acr-text {
  text-align: center;
  font-size: 0.9em;
}

#root, #slang-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slang-showcase {
  flex-direction: row;
  flex-wrap: wrap;
  width: 750px;
  height: 350px;
}

.card {
  width: 150px;
  height: 150px;
  margin: 12.5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: scale(1.02)
}

.phrase-card-front, .phrase-card-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
}

.phrase-card-front {
  filter: grayscale(100%);
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
}

.phrase-card-front:hover {
  filter: grayscale(0%);
}

.phrase-card-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.zero {
  width: 148px;
  height: 33px;
}
